body, html, canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #9748e7;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    z-index: -1;
}

#bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    color: white;
}

button {
    background: none;
    border: 0;
}

div#menu.hidden {
    display: none;
}

div#overlay {
    z-index: 0;
    background-color: #0005;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div#menu.hidden ~ div#overlay {
    display: none;
}

p#points {
    color: white;
}

div#menu {
    position: fixed;
    top: 0;
    background: white;
    height: 100%;
    width: 30%;
    min-width: 300px;
    padding: 8px;
    z-index: 1;
    background: #d8ccf5;
}

div#menu div:first-child, nav#bar div:first-child {
    display: flex;
    align-items: center;
}

h1 {
    margin: 0 8px;
    display: block;
    font-size: 2em;
    font-weight: bold;
}


ul {
    list-style: none;
    padding: 0;
}

div#menu ul > li > button {
    padding: 16px;
    background-color: #0001;
    margin-bottom: 8px;
}

div#menu ul > li > button.full {
    width: 100%;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

li h4 {
    margin: 0;
}

div#menu ul > li > p:not(.full) {
    width: 35%;
}

p#timer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100vw;
}

li.ranking {
    font-size: .75rem;
    margin-bottom: 4px;
}

li.ranking p {
    margin: 0;
}

p#timer {
    color: white;
}